.midline{
    border: 1px solid rgb(95, 3, 156);
    margin-inline: auto;
    background-color: rgb(128, 5, 199);
    box-shadow: 0px 0px 10px 5px rgb(158, 92, 219) ;
    color : rgb(227, 201, 252);
}